<% if @purchase_history.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @purchase_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
