<div id="<%= dom_id shopping_list %>">
  <p>
    <strong>Title:</strong>
    <%= shopping_list.title %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= shopping_list.budget %>
  </p>

  <p>
    <strong>Shopped on:</strong>
    <%= shopping_list.shopped_on %>
  </p>

</div>
